$ice_blue: #0C78C5;
$ice_yellow: #fce037;
$ice_green: #26bf42;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
  
  // usage
  .my-box {
    padding: 10px;
    
    @include for-desktop-up {
      padding: 20px;
    }
  }

a, a:visited {
    color: $ice_blue;
}


%progressBarContainer {
    height: 6px;
    width: 100%;
    box-sizing: border-box;

    .progressBar {
        height: 100%;
        background: $ice_yellow;
        /* Old browsers */
        background: -moz-linear-gradient(left, $ice_yellow 0%, $ice_green 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $ice_yellow 0%, $ice_green 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $ice_yellow 0%, $ice_green 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$ice_yellow', endColorstr='$ice_green', GradientType=1);
    }
}

[data-complete=true] {
    .progressBar {
        background: $ice_green;
    }
}

.completed {
    background: $ice_green;
}

table {
    margin: auto;

    th {
        padding: 5px;

        span {
            margin-left: 5px;
        }
    }

    tr:nth-child(2n + 2) {
        background: #eee;

        .darkMode & {
            background: #333;
        }
    }

    td {
        padding: 5px;
    }
    
}

body {
    background: #fff;
    color: #666;
    font-family: 'Oxygen', Arial, sans-serif;
    margin: 0;

    &.darkMode {
        background: #000;
        color: white;
    }
}

h2 {
    color: $ice_blue;
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
}

h4 {
    margin: 0 0 10px;
    text-align: center;
}

button {
    height: 42px;
    min-width: 42px;
    font-size: 28px;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0px 9px;
}

.deer {
    font-size: 35px;
}

.progressBarContainer {
    @extend %progressBarContainer;
}


#ice-age {
    padding: 60px 12px 0;
}

.hide {
    display: none;
}

#ice-age-overlay {
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    font-size: 16px;
    z-index: 50;
    background-color: white;
}

#overlay-screen {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    z-index: 30;
}

.overlay-heading {
    text-align: left;
    text-transform: capitalize;
}

#info-view {
    a {
        display: block;
        margin-bottom: 5px;
    }
}

.gallery {
    margin-left: 20px;
    font-weight: normal;
}

.fa-circle-check {
    color: $ice_green;
    margin-right: 2px;
}



.mobile-select select {
    display: none;
    border: none;
    font-size: 19px;
    font-weight: bold;
    padding: 5px 0;
    font-family: "Oxygen", sans-serif;
    color: #666;

    @include for-phone-only {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
}

.County {
    padding: 0 15px;
}

.County .county-name a {
    text-decoration: none !important;
    color: #0C78C5 !important;
}

#info-view h2:nth-child(1n + 2){
    margin-top: 40px;
}

.ReactModal__Content {
    .darkMode & {
        color: white !important;
        background-color: black !important;
    }
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}