.County {
    padding: 0 15px;

    &-header {
        margin-bottom: 30px;

        h2 {
            margin: 0;
        }
    }

    &-name {
        a {
            text-decoration: none !important;
            color: $ice_blue !important;
        }
    }
}
