.Segments {
    display: flex;
    @include for-phone-only {
        flex-direction: column;
    }
}

.segment-summary {
    margin-bottom: 20px;
}

.County h3 {
    margin: 0 0 5px;
}

.segment {
    width: 100%;
    margin-bottom: 55px;
}

.extra-info {
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;

    .segment-details {
        margin-right: 10px;
    }

    .yes {
        .fa-droplet path {
            fill: $ice-blue;
        }
        .fa-restroom path {
            fill: $ice_green;
        }
    }

    .no-hiking {
        flex: 1 1 100%;
        font-size: 14px;
        margin-top: 1rem;
        color: #C50401;
    }
}

#segments-view {
    background: #eee;
    width: 50%;
    min-width: 200px;
    max-width: 215px;

    @include for-phone-only {
        display: none;
    }

    
    .county-name a {
        text-decoration: none !important;
        color: $ice-blue !important;
    }
    #segment-filter-container {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        width: 100%;
        box-sizing: border-box;
        select {
            display: none;
            border: none;
            font-size: 19px;
            font-weight: bold;
            padding: 5px 0;
            font-family: 'Oxygen', sans-serif;
            color: #666;
        }
    }
    .terminus-container {
        margin: 10px 0;
    }
    #segment-filter {
        background: #eee;
        box-sizing: border-box;
        .selected {
            background: white !important;
        }
        .complete {
            background: $ice-yellow;
        }
        ul {
            list-style: none;
            padding: 0;
            >li>a {
                font-size: 14px;
                display: block;
                padding: 8px;
                color: black;
                text-decoration: none;
            }
        }
    }
    /*
Styles for list of segments
*/
    #segment-list {
        width: 70%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .segment-name {
        text-align: left;
        font-weight: bold;
    }

    .segment {
        width: 100%;
        box-sizing: border-box;
        min-height: 150px;
    }
    .segment-details {
        position: relative;
        text-transform: capitalize;
        span {
            position: relative;
            margin-right: 5px;
        }
    }
    .yes {
        cursor: pointer;
        i {
            color: $ice-green;
        }
    }
    .segment-info {
        width: 50%;
        display: inline-block;
    }
    
    #segment-list a {
        color: #236B8E;
    }
    a.location {
        color: #236B8E;
        display: block;
        clear: both;
    }
    .easy {
        color: #017927;
    }
    .difficult {
        color: #C50401;
    }
    .user-segments-view {
        margin-bottom: 15px;
    }

    .secondary-location {
        margin-top: 10px;
    }
    .location-based-info {
        margin: 16px 0;
    }
    #ice-age-overlay {
        padding: 20px;
        width: 80%;
        box-sizing: border-box;
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        color: black;
        font-size: 16px;
        z-index: 50;
        background-color: white;
    }
    #overlay-screen {
        background-color: #000;
        opacity: 0.8;
        width: 100%;
        position: fixed;
        z-index: 30;
    }
    .overlay-heading {
        text-align: left;
        text-transform: capitalize;
    }
    @media (max-width: 600px) {
        #segment-filter-container {
            background: white;
            width: 100%;
            select {
                display: block;
                margin-bottom: 10px;
                width: 100%;
            }
        }
        #segment-filter {
            width: 100%;
            display: none;
        }
        #segment-list {
            width: 100%;
        }
        .segment-info {
            width: 100%;
        }
    }
}


#progress-view {
    .user-container {
        display: block;
        width: 100%;
        vertical-align: top;
        padding: 0 5px 35px;
        box-sizing: border-box;
    }
    .county {
        margin-bottom: 25px;
        h3 {
            margin: 0;
            cursor: pointer;
            font-size: 1em;
        }
        .segment {
            padding: 10px 5px
        }
        .segment-name {
            font-size: 0.9em;
            font-weight: bold;

            &.complete {
                i {
                    color: $ice-green;
                    margin-right: 5px;
                }
                //color: white;
                //background: $ice-green;
            }
        }
        .segment-notes {
            // padding: 5px;
        }
    }
    .segments {
        display: none;
        .more-info {
            color: $ice-blue;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    .user-segment-container {
        margin-bottom: 15px;
    }
    #progress-view h4 {
        text-align: left;
    }
    .container {
        margin: 0 0 35px;
    }
    .user-header {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .user-container {
        h4 {
            font-size: 22px;
        }
    }
    .user-container span.completion-data,
    .segment-notes {
        font-weight: normal;
        font-size: 14px;
    }
    .user-miles-remaining {
        color: $ice_blue;
        font-weight: bold;
    }

    .stats{
        width: 75%;
        text-align: left;
        margin: auto;
        background-color: $ice-blue;
        color: white;
        padding: 10px;
        margin-bottom: 10px;

        h4, p {
            margin: 0;
            text-align: left;
        }

        .miles {
            margin-bottom: 40px;
        }

        .year {
            margin-bottom: 10px;
        }

        .month {
            margin-bottom: 10px;
        }
    }
    @media (max-width: 600px) {
        .user-container {
            display: inline-block;
            width: 100%;
            vertical-align: top;
        }
    }
}

.box {
    display: flex;

    div {
        width: 20px;
        height: 5px;
    }

    .complete {
        background: $ice-green
    }

    .incomplete {
        background: #666;
    }
}

.county-select-header {
    padding: 8px 0 0 8px;
}