.Segment {
    width: 100%;
    line-height: 22px;
    margin-bottom: 80px;

    h3 {
        margin: 0 0 15px;
    }

    &-info {
        font-size: 14px;
        margin-bottom: 15px;
    }

    &-map {
        font-size: 14px;
    }

    @media (max-width: 600px) {
        &-info {
            width: 100%;
        }
    }

    &-name {
        font-weight: bold;

        &.complete {
            i {
                color: $ice-green;
                margin-right: 5px;
            }
        }
    }

    &-summary {
        margin-bottom: 20px;
    }

    &-terminus-container {
        margin-bottom: 20px;
    }
}