.Segment {
    width: 100%;
    line-height: 22px;
    margin-bottom: 80px;

    h3 {
        margin: 0 0 15px;
        display: flex;
        align-items: center;
    }

    &-info {
        font-size: 14px;
        margin-bottom: 15px;
    }

    &-map {
        font-size: 14px;
    }

    &-tag {
        font-size: 12px;
        font-weight: normal;
        background: $ice_blue;
        padding: 2px 5px;
        margin-left: 10px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    @media (max-width: 600px) {
        &-info {
            width: 100%;
        }
    }

    &-name {
        font-weight: bold;

        &.complete {
            i {
                color: $ice_green;
                margin-right: 5px;
            }
        }
    }

    &-summary {
        margin-bottom: 20px;
    }

    &-terminus-container {
        margin-bottom: 20px;
    }
}